@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111827;
}
.titulo{
   color: #fff;
   font-family: 'Roboto',sans-serif;
     margin-left: 160px;
     margin-top: 80px;
     font-size: 64px;
   
}


.ponto{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 520px;
    top:126px;
    border-radius: 10px;


    background: #0073b0;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap:12px;
    padding-left: 50px;


    position: absolute;
    width: 400px;
    height: 48px;
    left: 840px;
    top:400px;
    background:rgba(113, 128, 185, 0.32);
    border-radius: 4px;
    border:none;
}
   
.img-email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap:12px;


    position: absolute;
    left: 840px;
    top:400px;
}
.senha{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap:12px;
    padding-left: 50px;


    position: absolute;
    width: 400px;
    height: 48px;
    left: 840px;
    top:472px;
    background:rgba(113, 128, 185, 0.32);
    border-radius: 4px;
    border:none;
    ;
   
}
.img-senha{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap:12px;


    position: absolute;
    left: 840px;
    top:472px;
}


.login{
    position: absolute;
    width: 100px;
    height: 47px;
    left: 986px;
    top: 329px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: center;
}
.caixa-login{
    position: absolute;
    width: 480px;
    height: 476px;
    left: 800px;
    top:274px;
    background-color: #f9f9fb;
    border-radius: 4px;
}
.btn-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap:16px;
    position: absolute;
    width: 400px;
    height: 48px;
    left: 840px;
    top:544px;
    background: #7180b9;
    border-radius: 4px;
    border: none;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;


}
.linha{
    position: absolute;
    width: 124px;
    height: 0px;
    left: 978px;
    top: 616px;
    border: 2px solid rgba(0, 0, 0, 0.32);
}
h3{
    position: absolute;
    width: 127px;
    height: 24px;
    left: 840px;
    top:660px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


.btn-github{
   font-family: 'Roboto',sans-serif;
    color: #000;
    text-decoration: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap:16px;
    position: absolute;
    width: 244px;
    height: 48px;
    left: 996px;
    top: 648px;
    background: #7180b9;
    border-radius: 4px;
    border: none;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
   
.github{
  position: absolute;
  left: 0%;
  right: 15.62%;
  top:9.37%;
  bottom: 6.25%;
  top:648px;
  left: 996px;
  padding: 6px 60px ;


}
.img-3{
    margin-left: 160px ;
    margin-top: 119px;
}
.img-5{
    box-sizing: border-box;
    position: absolute;
    left:181.89px ;
    margin-top:119px;
    left:350px;
}
.img-4{
    box-sizing: border-box;
    position: absolute;
    left:363.79px ;
    margin-top: 119px;
    left: 530px;
}
.img-todo{
    position: absolute;
    width: 576px;
    height: 476.48px;
    left:10px;
    top:135px;
}
